$body-color: rgba(#ccc, .05);

:global(body) {
  background-color: $body-color;
}

:global(h1) {
  font-size: 56px;
  text-align: center;
}

.container {
  margin: 40px auto;
  text-align: center;
}

.logo {
  display: inline-block;
}
